<div class="course-containter">

  <div class="course-details">
    <div class="course-details-header">
      <h1>Auditoría de modelos BIM</h1>
      <div class="course-description">
        <p>Este curso está diseñado para equiparte con las herramientas y conocimientos esenciales para una eficiente
          auditoría de modelos BIM. Siendo capaz al final del curso entender los conceptos y estándares BIM, aprenderás
          a planificar procesos de autoría BIM, realizar auditorías de inspección...  <span>Ver mas</span></p>
        <span class="t-course">Curso</span>
      </div>

      <div class="course-details-info">
          <span class="t-available"> <i class="fa-solid fa-calendar"></i>Disponible: <strong>Ahora</strong></span>
        <div class="item-rating">
          <div class="item-stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <span>4.5</span>
        </div>

        <div class="info-1">
          <span><i class="far fa-clock"></i>Duracion: <em>08:58 Hrs</em> </span>
          <span><i class="fas fa-book"></i>Nivel: <em>Intermedio - Avanzado</em> </span>
        </div>
        <div class="info-2">
          <span class="item-teacher"><i class="fas fa-book"></i>Docente: <a href="#">Sergio Miguel Guerrero López</a> </span>
          <span class="item-details">Contenido: <a href="#">Ver detalles</a> </span>
          <div class="info-2-content">
            <span><i class="far fa-clock"></i>12 modulos </span>
            <span><i class="far fa-clock"></i>65 Sesiones de video </span>
            <span><i class="far fa-clock"></i>44 archivos descargables </span>
          </div>
        </div>



      </div>


    </div>
    <div class="course-details-body">

    </div>


  </div>


  <div class="course-fixed-card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>TEST CARD</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
