<div class="blog-cont">
  <div class="blog-header">
    <div class="blog-title">
      <h1>Blog de la comunidad</h1>
    </div>
  </div>
  <div class="blog-body">
    <div *ngFor="let blog of blogArrayResponse | paginate: { itemsPerPage: 1, currentPage: pageNumber,totalItems: totalPageBlogsQuantity }">
      <div class="blog-card">
        <img [src]="blog.imageUrl" class="blog-image-card" alt="">
        <div class="blog-content">
          <div class="blog-tag">
            <p>{{blog.label}}</p>
          </div>
          <p class="blog-title">{{blog.title}}</p>
          <div class="blog-description-container">
            <div class="blog-description" [innerHTML]="addEllipsis(blog.description)"></div>
            <a href="">Leer mas</a>
          </div>
        </div>
        <div class="blog-footer">
          <p>Por: {{blog.author}}</p>
          <p>{{this.getDisplayableDate(blog.publishDate)}}</p>
        </div>


      </div>
    </div>
  </div>
  <div class="paginator-container">
    <pagination-controls (pageChange)="this.globalPageChange($event)"
                         previousLabel="Anterior"
                         nextLabel="Siguiente"></pagination-controls>
  </div>

</div>
