.container{
  background-color: #1f1f1f;
  color: white;
}
.login-form-field{
  width: 100%;
  color: white !important;
}
.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.actions{
  display: flex;
  flex-direction: column;
}
.login-button-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-button{
  width: 95%;
  border-radius: 3rem;
}
.forgot-password-container{
  display: flex;
  justify-content: left;
  width: 100%;
}
.forgot-password :hover{
  cursor: pointer;
  text-decoration: underline;
}

.register-redirect-container{
  width: 95%;
  display: flex;
  justify-content: right;
}
.register-redirect{
  display: flex;
  align-items: center;
  justify-content: flex-end;  /* Alinea los elementos hacia la derecha */
  margin-top: 0.5rem;
}
.register-redirect-container p {
  margin-right: 5px;
  margin-top: 12px;  /* Ajusta el espacio entre el párrafo y el icono según sea necesario */
}
.register-redirect-container :hover {
  cursor: pointer;
  text-decoration: underline;
}
