<mat-card>
  <mat-card-header>
    <img mat-card-image
         src="https://cdn.discordapp.com/attachments/793721172285849600/1193239787172266094/image.png?ex=65abfe26&is=65998926&hm=b4e373db920520a5c1b41d0176ddbd431b514c44f98fcf31669ab923d8e8b6b8&"
         alt="curso imagen">
  </mat-card-header>

  <mat-card-content>
    <h3 class="item-teacher-title">
      <a href="#">Análisis estructural de estructuras isostáticas</a>
    </h3>
    <span class="item-teacher">Por: <a href="#">Pedro</a> </span>

    <div class="item-rating">
      <div class="item-stars">
        <i class="fa-solid fa-star"></i>
      </div>
      <span>4.5</span>
    </div>

    <div class="body-details">
      <span><i class="far fa-clock"></i>30 Hrs</span>
      <span><i class="fas fa-book"></i>Intermedio - Avanzado</span>
    </div>
  </mat-card-content>
  <hr class="divider">
  <mat-card-footer>
    <div class="footer-price">
      <span class="item-price">GRATIS</span>
      <a href="#" class="item-btn" routerLink="/course">Acceder</a>
    </div>
  </mat-card-footer>
</mat-card>

