:host {
  display: block; /* Asegura que el estilo se aplique al componente en lugar de a un elemento hijo */
  background-color: #011125;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #011125;
}

.content {

  /* Otros estilos de tu contenido aquí */
}

.title{
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 30px;
}
