  <div class="container">
    <div style="display: flex;justify-content: center">
      <div class="content">
        <div class="navigation">
          <div style="display: flex;justify-content: center">
            <mat-nav-list class="top-menu-items">
              <a [routerLinkActive]="'top-active'" [routerLinkActiveOptions]="{exact: true}" routerLink="/account" class="top-menu-item">
                <mat-icon matListIcon>person</mat-icon>
                <span routerLink="/account">MI PERFIL</span>
              </a>
              <a [routerLinkActive]="'top-active'" [routerLinkActiveOptions]="{exact: true}" routerLink="/account/edit-profile" class="top-menu-item">
                <mat-icon matListIcon>edit</mat-icon>
                <span>EDITAR PERFIL</span>
              </a>
              <a [routerLinkActive]="'top-active'" [routerLinkActiveOptions]="{exact: true}" routerLink="/account/courses" class="top-menu-item">
                <mat-icon matListIcon>library_books</mat-icon>
                <span>MIS CURSOS</span>
              </a>
              <a [routerLinkActive]="'top-active'" [routerLinkActiveOptions]="{exact: true}" routerLink="/account/credentials" class="top-menu-item">
                <mat-icon matListIcon>stars</mat-icon>
                <span>CREDENCIALES</span>
              </a>
              <a [routerLinkActive]="'top-active'" [routerLinkActiveOptions]="{exact: true}" routerLink="/account/payment" class="top-menu-item">
                <mat-icon matListIcon>credit_card</mat-icon>
                <span>MIS PAGOS</span>
              </a>
              <a [routerLinkActive]="'top-active'" [routerLinkActiveOptions]="{exact: true}" routerLink="/account/subscriptions" class="top-menu-item">
                <mat-icon matListIcon>credit_card</mat-icon>
                <span>SUBSCRIPCIONES</span>
              </a>
              <a [routerLinkActive]="'top-active'" [routerLinkActiveOptions]="{exact: true}" routerLink="/account/support" class="top-menu-item">
                <mat-icon matListIcon>contact_support</mat-icon>
                <span>SOPORTE</span>
              </a>
              <a [routerLinkActive]="'top-active'" [routerLinkActiveOptions]="{exact: true}" routerLink="/courses" class="top-menu-item">
                <mat-icon matListIcon>dashboard</mat-icon>
                <span>TODOS LOS CURSOS</span>
              </a>
            </mat-nav-list>
          </div>
          <div class="router">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>


