<div class="container">
  <div style="display: flex;justify-content: right">
    <button mat-icon-button mat-dialog-close aria-label="Example icon button with a home icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="header">
    <h1>Recuperar Contraseña</h1>
  </div>
  <div class="form">
    <form [formGroup]="userFormGroup"  >
      <mat-form-field class="form-field" appearance="outline">
        <mat-label style="color: black">Email</mat-label>
        <input matInput autocomplete="off"  formControlName="email">
        <mat-error *ngIf="userFormGroup.get('email')?.hasError('required')">
          Email <strong>requerido</strong>
        </mat-error>
        <mat-error *ngIf="userFormGroup.get('email')?.hasError('email')">
          Email <strong>invalido</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="actions" mat-dialog-actions>
    <div class="forgot-button-container">
      <button mat-flat-button (click)="sendForgotPassword()" class="forgot-button">Enviar</button>
    </div>
  </div>
</div>
