
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Contáctanos</h4>
        <ul>
          <li><span>+51 992 925 681</span></li>
          <li><span>contacto@konstruedu.com</span></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Se parte de </h4>
        <ul>
          <li><a href="#">Sé docente</a></li>
          <li><a href="#">Sé Afiliado</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Comunidad</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>



  <div class="subscription-box">
    <h3>Entérate de todas las novedades en educación para constructores</h3>
    <div class="input-group">
      <input type="email" class="email-input" placeholder="Ingresa tu correo">
      <button class="subscribe-button" onclick="subscribe()">Suscribirme</button>
    </div>
  </div>


</footer>
