
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Contáctanos</h4>
        <ul>
          <li><span>+51 992 925 681</span></li>
          <li><span>contacto@konstruedu.com</span></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Se parte de </h4>
        <ul>
          <li><a href="#">Sé docente</a></li>
          <li><a href="#">Sé Afiliado</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Comunidad</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>



  <div class="subscription-box">
    <h3>Entérate de todas las novedades en educación para constructores</h3>
    <div class="input-group">
      <input type="email" class="email-input" placeholder="Ingresa tu correo">
      <button class="subscribe-button" onclick="subscribe()">Suscribirme</button>
    </div>
  </div>
</footer>
<div id="block-whats" class="is-fixed">
  <a href="#" class="cd-whats-trigger menu-is-open" style="" (click)="toggleVisibility($event)"></a>
  <nav id="cd-main-whats">
    <div class="block-nav-m is-visible"[ngClass]="{'is-visible': isVisible}">
      <h3>¿En qué podemos ayudarte?</h3>
      <a href="https://api.whatsapp.com/send?phone=51992925681&amp;text=Hola%20Konstruedu"><i class="fab fa-whatsapp"></i> Contactanos por whatsapp</a>
      <span>Escríbenos dando clic en el botón</span>
    </div>
  </nav>
</div>

