.card{
  width: 704px;
  height: 600px;
  background-color: #9b192d;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.content{
  padding: 20px 0;
}
.mat-form-field{
  margin: 0 !important;
  padding: 0 !important;
}
.edit-form{
  width: 570px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
}
.edit-form-field{
  width: 420px;
}
.mat-error{
  color: gold;
}









.mat-select-value {
  color: black !important;
}

/* Para el ícono de flecha en mat-select */
.mat-select-arrow {
  color: black !important;
}

/********************************/
:root {
  --primary: #fff;
  --secondary: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select-box {
  position: relative;
  padding-bottom: 18px;
  width:420px ;

}

.select-box input {
  width: 100%;
  padding: 1rem .6rem;
  font-size: 1.1rem;

  border: .1rem solid transparent;
  outline: none;
}

input[type="tel"] {
  border-radius: 0 .5rem .5rem 0;
}

.select-box input:focus {
  border: .1rem solid #f3f3f3;
}

.selected-option {
  background-color: #f3f3f3;
  color: black;
  border-radius: .3rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-option div{
  position: relative;

  width: 6rem;
  padding: 0 2.8rem 0 .5rem;
  text-align: center;
  cursor: pointer;
}

.selected-option div::after{
  position: absolute;
  content: "";
  right: .8rem;
  top: 50%;
  transform: translateY(-80%) rotate(45deg);

  width: .5rem;
  height: .5rem;
  border-right: .2rem solid black;
  border-bottom: .2rem solid black;

  transition: .2s;
}

.selected-option div.active::after{
  transform: translateY(-50%) rotate(225deg);
}
.selected-option input{
  font-size: 15px;
}

.select-box .options {
  position: absolute;
  top: 4rem;

  width: 100%;
  background-color: #f3f3f3;
  border-radius: .5rem;
}

.select-box .options.active {
  display: block;
}

.select-box .options::before {
  position: absolute;
  content: "";
  left: 1rem;
  top: -1.2rem;

  width: 0;
  height: 0;
  border: .6rem solid transparent;
  border-bottom-color: var(--primary);
}

input.search-box {
  background-color: var(--primary);
  color: #fff;
  border-radius: .5rem .5rem 0 0;
  padding: 1.4rem 1rem;
}

.select-box ol {
  list-style: none;
  max-height: 23rem;
  overflow: auto;
}

.select-box ol::-webkit-scrollbar {
  width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
  width: 0.4rem;
  height: 3rem;
  background-color: #ccc;
  border-radius: .4rem;
}

.select-box ol li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.select-box ol li.hide {
  display: none;
}

.select-box ol li:not(:last-child) {
  border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
  background-color: lightcyan;
}

.select-box ol li .country-name {
  margin-left: .4rem;
  color: black !important;
}

textarea.mat-input-element {
  color: black;
  height: 100%;
}
