.banner{
  min-width: 704px;
  background-color: #9b192d;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.38);
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.profile{
  display: flex;
  color: white;
}
.picture {
  width: 82px; /* Ajusta el tamaño según sea necesario */
  height: 82px; /* Ajusta el tamaño según sea necesario */
  border-radius: 50%; /* Hace que la imagen sea circular */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor circular */
  border: 2px solid white; /* Bordes blancos alrededor de la imagen */
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor circular */
}
.greetings{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 15px;
}
.hello{
  font-weight: bolder;
  height: 35px;
}
.upper-part{
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
}
.edit button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  border-radius: 2rem;
  background-color: #9b192d;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.38);
  border: white solid 1.5px
}
.downer-part{
  display: flex;
  justify-content: right;
}
.downer-part button{
  margin: 0 1rem 1rem 1rem; background-color: #f08329;color: white;border-radius: 0.8rem
}
.user-data{
  display: flex;
  flex-direction: row;
}
.progress{
  color: black;
  max-width: 405px;
  border: #9b192d solid 2px;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}
.statistics{
  display: flex;
}
.spinner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spinner {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: 100px; /* Ajusta el tamaño según sea necesario */
}
.spinner-value {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 20px; /* Ajusta el tamaño de la fuente según sea necesario */
}



.total-courses{
  width: 101px;
  margin: 1rem 1rem 0 1rem;
}
.total-courses p{
  margin-top: 10px;
  text-align: center;
}
.premium-courses{
  width: 101px;
  margin: 1rem 1rem 0 1rem;
}
.premium-courses p{
  margin-top: 10px;
  text-align: center;
}
.certificated-courses{
  width: 101px;
  margin: 1rem 1rem 0 1rem;
}
.certificated-courses p{
  margin-top: 10px;
  text-align: center;
}
.information{
  color: black;
  width: 275px;
  border: #9b192d solid 2px;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 20px;
}
