.pass{
  height: 20px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.end{
  height: 20px;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.container{
  width: 500px;
  background-color: #9b192d;
  color: white;
  padding: 20px 20px;
  border-radius: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.34);
}
.save-form-field{
  width: 100%;
  background-color: white;
  color: black !important;
}
.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actions{
  display: flex;
  flex-direction: column;
}
.save-button-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.save-button{
  width: 95%;
  border-radius: 3rem;
}
.forgot-password-container{
  display: flex;
  justify-content: left;
  width: 100%;
}
.forgot-password :hover{
  cursor: pointer;
  text-decoration: underline;
}

.register-redirect-container{
  width: 95%;
  display: flex;
  justify-content: right;
}
.register-redirect{
  display: flex;
  align-items: center;
  justify-content: flex-end;  /* Alinea los elementos hacia la derecha */
  margin-top: 0.5rem;
}
.register-redirect-container p {
  margin-right: 5px;
  margin-top: 12px;  /* Ajusta el espacio entre el párrafo y el icono según sea necesario */
}
.register-redirect-container :hover {
  cursor: pointer;
  text-decoration: underline;
}
.form{
  padding: 0 1rem;
  background-color: white;
  color: black;
}
@media (min-width: 720px) {
  .container{
    width: 500px;
    background-color: #9b192d;
    color: white;
    padding: 20px 20px;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.34);
  }

}
@media (max-width: 720px) {
  .container{
    width: 300px;
    background-color: #9b192d;
    color: white;
    padding: 20px 20px;
    border-radius: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.34);
  }
}
