<div style="background-color: #f3f3f4">
  <div class="header">
    <div class="item-bar">
      <p>REDACTA UN NUEVO BLOG !</p>
      <div class="actions-buttons-container">
        <button mat-button>
          <mat-icon>delete</mat-icon>
          DESCARTAR</button>
        <button mat-button (click)="preview()" *ngIf="!isPreviewActive">
          <mat-icon>remove_red_eye</mat-icon>
          PREVISUALIZAR</button>
        <button mat-button (click)="preview()" *ngIf="isPreviewActive">
          <mat-icon>edit</mat-icon>
          EDITAR</button>
        <button mat-button class="publish-button" (click)="uploadBlog()">
          <mat-icon>publish</mat-icon>
          PUBLICAR
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!isPreviewActive" class="content">
    <div class="main-information-container">
      <div class="main-information">
        <div class="information">
          <p class="information-title">Informacion principal</p>
          <form [formGroup]="blogFormGroup"  >
            <div class="edit-form">
              <p>Titulo:</p>
              <mat-form-field class="edit-form-field" appearance="outline">
                <input matInput class="edit-form-input" autocomplete="off" type="text" formControlName="title" placeholder="Introduce un titulo" maxLength="80">
                <mat-error *ngIf="blogFormGroup.get('title')?.hasError('required')">
                  El titulo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="edit-description-form">
              <p>Descripcion:</p>
              <textarea matInput class="edit-form-input" (input)="descriptionOnType()" autocomplete="off" type="text" formControlName="description" placeholder="Introduce una descripcion" maxLength="504"></textarea>
              <mat-error *ngIf="isBlogEmpty">
                La descripcion es <strong>requerida</strong>
              </mat-error>
            </div>
            <div class="edit-form">
              <p>Categoria:</p>
              <mat-form-field class="edit-form-field" appearance="outline">
                <input matInput class="edit-form-input" autocomplete="off" type="text" formControlName="category" placeholder="Agrega una categoria" maxLength="30">
                <mat-error *ngIf="blogFormGroup.get('category')?.hasError('required')">
                  Categoria <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="photo-selection">
          <p class="information-title">Foto de portada</p>
          <div class="control-container" >
            <div class="image-container">
              <img
                [src]="imageSource"
                class="mat-elevation-z2"
                [style.opacity]="uploading.getValue() ? 0.1 : 1" />
            </div>
            <div>
              <input
                #inputField
                hidden
                type="file"
                (change)="fileSelected($event)"
                (click)="inputField.value = ''"
              />
              <button mat-button [disabled]="uploading.getValue()" (click)="inputField.click()" class="image-container-button">
                Elegir portada
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="editor-content">
        <div class="editor-content-title">
          <p class="information-title">Contenido</p>
        </div>
        <editor apiKey="1fim4fyjmf781d18xyj35334v9bhtk8s6j25sy0y4cis2tw2"
                [init]="{ plugins: 'lists link image table code help wordcount' }"
                [(ngModel)]="htmlContent"
        ></editor>
      </div>
      <div>
        {{htmlContent}}
      </div>
      <button mat-button (click)="modificarImagenes()">
        <mat-icon>delete</mat-icon>
        MODIFCIA</button>
    </div>
  </div>
  <div *ngIf="isPreviewActive" class="preview-content">
    <div class="preview-main-content">
      <div class="preview-header">
        <h1 class="preview-title">{{this.blogFormGroup.get('title')?.value|| 'Titulo Vacio'}}</h1>
        <div class="blog-tag">
          <p>{{this.blogFormGroup.get('category')?.value || 'Indefinido'}}</p>
        </div>
        <p class="preview-author">
          <mat-icon>person</mat-icon> Por: Diego Talledo
        </p>
        <img
          [src]="imageSource"
          [width]="715"
          [height]="402"
          class="mat-elevation-z5"
          [style.opacity]="uploading.getValue() ? 0.1 : 1" />
        <p class="preview-description">
          {{this.blogFormGroup.get('description')?.value}}
        </p>
      </div>
      <div [innerHTML]="htmlContent" class="inner"></div>
    </div>
  </div>
  <!--img [src]="croppedImage" /-->

</div>

