/* You can add global styles to this file, and also import other style files */

/* Icons */
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

/* Color Palette */
:root {
  --color-primary: #fff;
  --color-secondary: #9b192d;
  --color-accent: #181818;
  --color-button-bg: rgba(0,0,0,0.05);
  --color-text-primary: #0f0f0f;
  --color-text-secondary: #da9938;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #676767 !important;
  border-color: white !important;
}
