<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <ul class="reset-ul">
        <li><span>Módulo 1</span></li>
        <li><i class="fas fa-clock"></i>00:03:33</li>
        <li><i class="fas fa-video"></i>
          2 Sesiones
        </li>
        <li><i class="fas fa-calendar-alt" title="Fecha de Disponibilidad"></i>
          Disponible:
          Ahora
        </li>
      </ul>
      <h3>Modulo 1: Introducción al curso y consideraciones generales</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="checkbox-container">
    <mat-checkbox>Option 1</mat-checkbox>
    <mat-checkbox>Option 2</mat-checkbox>
    <mat-checkbox>Option 3</mat-checkbox>
  </div>
</mat-expansion-panel>
