<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <ul class="reset-ul">
        <li><span>Módulo 1</span></li>
        <li><i class="fas fa-clock"></i>00:03:33</li>
        <li><i class="fas fa-video"></i>
          2 Sesiones
        </li>
        <li><i class="fas fa-calendar-alt" title="Fecha de Disponibilidad"></i>
          Disponible:
          Ahora
        </li>
      </ul>
      <h3>Modulo 1: Introducción al curso y consideraciones generales</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="checkbox-container">
    <mat-panel-description *ngFor="let _ of [1, 2, 3]">
      <div class="row-container">
        <div class="left-content">
          <i class="fas fa-video"></i>
          <h4>1.Introducción al curso</h4>
        </div>
        <span>00:02:21</span>
      </div>
    </mat-panel-description>
  </div>
</mat-expansion-panel>
