
.mat-expansion-panel{
  margin-bottom: 20px;
  width: 90%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 20px;

}
.mat-panel-title{
  display: flex;
  flex-direction: column;
}
.mat-expansion-panel-header-title{
  display: block;
}

.reset-ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;

}
.checkbox-container {
  display: flex;
  flex-direction: column;
}

li{
  margin-right: 25px;
}

h3{
  font-size: 20px;
  font-weight: 500;

}
.mat-expansion-panel-header:hover{
  background: transparent !important;
}

.mat-expansion-panel:hover{
  background-color: rgba(236, 240, 241, 0.3);
}

.mat-expansion-panel .checkbox-container mat-panel-description {
  font-size: 15px;
  color: #afb8cb;
  position: relative;
  padding: 15px 24px;
  border-top: 1px solid #5d677a;
  line-height: 130%;
  margin:0;
  display: block;

}
.checkbox-container{
  padding-top: 22px;
}
.mat-expansion-panel.mat-expanded {
  padding-bottom: 0;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  display: flex;
  align-items: center;
}
.left-content i{
  font-size: 16px;
  margin-right: 10px;
}
.fas{
  margin-right: 5px;
}
h4{
  margin: 0;
}
